.center {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}


.center > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}
